.area{
    position: absolute;
    background-color: #F5EEF8;
    position: absolute;
    
}
.horline{
    z-index: 1;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 1px;
    bottom: 0
  }
  .vertline{
    z-index: 1;
    position: absolute;
    background: transparent;
    width: 1px;
    height: 100%;
    right: 0;
  }
  .forAreaShell,.forAreaShell2{
    width: 100%;
    overflow: scroll;
    top: 55px;
    position: absolute;
    bottom: 0;
  }
  @media screen and ((orientation: portrait) or (max-width:850px)){
    .forAreaShell{
      top: 100px;
    }
  }