.center{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.logoArrow, .logoRun{
    stroke: teal;
}
.logoRun{
    fill:teal;
}
.logoArrow:active{
    stroke: rgb(222,67,123);
}
.logoRun:active{
    stroke: rgb(222,67,123);
    fill:rgb(222,67,123);
}
